<div class="card">
    <div class="card-title"><h2>Sign Up</h2></div>
    <form id="signUpForm">
        <div>
            <label>Username</label>
            <input type="text" id="usernameSignup" />
        </div>
        <div>
            <label>Password</label>
            <input type="text" id="passwordSignup"/>
        </div>
        <button id="signupBtn" class="btn">Sign Up</button>
        <h4>Already have an account? Login here!</h4>
        <a type="button" href="/login">Login Here</a>
    </form>
</div>

<script src="/js/signup.js"></script>